body.login {
  background: linear-gradient(to bottom, rgba(175, 214, 219, 1) 0%, rgba(175, 214, 219, 0) 100%);
}

body.login div#login h1 {
  width: 100%;
}

body.login div#login h1 a {
  background: url(../images/login/logo.svg) no-repeat center center/auto 100% transparent;
  height: 125px;
  margin: 0 auto 50px;
  outline: none;
  width: 100%;
}

body.login div#login #loginform #user_pass,
body.login div#login #loginform #user_login {
  color: #22396f;
}

body.login div#login #nav a,
body.login div#login #backtoblog a {
  color: #22396f;
}

body.login div#login #nav a:hover,
body.login div#login #backtoblog a:hover {
  color: #22396f;
}
